{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block body %}
    <nav class="navbar" role="navigation">
        <div class="navbar-collapse" style="text-align: center">
            <ul class="nav navbar-nav" style="display: inline-block; float: right">
            <li><div class="navbar-brand">
                <img alt="Brand" src='../static/images/index_icon.ico'>
            </div></li>
            <li><a href="{{ url_for('yws.index') }}" style="color: gray; text-shadow: -1px -1px 0 #000; background-color: #d55; margin: .5em .25em; padding: .5em 1em; border-radius: 4px; background-size: 100% 150%; background-position: 0 100%;">Home</a></li>
            <li><a href="../templates/login.html" style="color: white; text-shadow: -1px -1px 0 #000; background-color: #204650; margin: .5em .25em; padding: .5em 1em; border-radius: 4px; background-size: 100% 150%; background-position: 0 100%;">Login</a></li>
            <li><a href="{{ url_for('yws.cinema') }}" style="color: greenyellow; text-shadow: -1px -1px 0 #000; background-color: #4499ff; margin: .5em .25em; padding: .5em 1em; border-radius: 4px; background-size: 100% 150%; background-position: 0 100%;">Cinema</a></li>
        </ul>
        </div>
    </nav>
    {% block content %}
        <div class="register">
            <div class="col-md-4" style="margin: 142px auto 0; position: absolute; left: 0; right: 30%; width: 230px; height: auto!important; height: 282px; min-height: 252px; text-align: center; border-radius: 5px; border: groove ">
                {{ wtf.quick_form(form) }}
                <br style="clear: both;" />
            </div>
        </div>
        <div id="msg" style="font-size: 15px; opacity: 1; color: red; text-shadow: -1px -1px 0 #000;  margin: 422px auto 0; right: 62%; position: absolute; background-position: 0 100%;">
    {% for msg in get_flashed_messages() %}
        {% if msg %}
            {{ msg }}
        {% else %}
            {{ None }}
        {% endif %}
    {% endfor %}
    </div>
    {% endblock %}
{% endblock %}